@model IEnumerable<EduPlanManager.Models.DTOs.SubjectSchedule.SubjectScheduleDTO>

@{
    ViewData["Title"] = "Danh sách Lịch học";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ngày</th>
            <th>Buổi</th>
            <th>Giờ bắt đầu</th>
            <th>Giờ kết thúc</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.DayOfWeekName</td>
                <td>@schedule.SessionName</td>
                <td>@schedule.StartTime</td>
                <td>@schedule.EndTime</td>
                <td>
                    <a href="@Url.Action("Edit", "SubjectSchedule", new { id = schedule.Id })" class="btn text-success-emphasis bg-success-subtle">Sửa</a>
                    <form method="post" action="@Url.Action("Delete", "SubjectSchedule", new { id = schedule.Id })" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn text-danger-emphasis bg-danger-subtle" onclick="return confirm('Bạn có chắc chắn muốn xóa lịch học này?');">Xóa</button>
                    </form>
                    <a class="btn text-success-emphasis bg-success-subtle" href="@Url.Action("GetSubjectWithoutSchedule","SubjectSchedule", new { id = schedule.Id })">
                        Thêm môn học vào lịch học
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "SubjectSchedule")" class="btn text-primary-emphasis bg-primary-subtle">Tạo Lịch học mới</a>


@section Scripts {
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var dayOfWeek = button.data('name');
            var actionUrl = '@Url.Action("DeleteConfirmed", "SubjectSchedule", new { id = "__id__" })'.replace('__id__', id);

            $('#scheduleDetails').text(dayOfWeek);

            $('#deleteForm').attr('action', actionUrl);
        });
    </script>
}
